body {
  .home {
    .nav-container {
      .logo {
        display: none;
      }
    }

    .home-banner-container {
      background-image: url('~assets/img/homepage-background.jpg');
      background-size: cover;
      background-position: center;
      padding-top: 200px;
      padding-bottom: 200px;
      position: relative;
      &:before {
        content: '';
        background: linear-gradient(0deg, #151518, hsla(0, 0%, 100%, 0));
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
      }

      .home-banner {
        z-index: 2;
        position: relative;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Inconsolata';
        padding-left: 10px;
        padding-right: 10px;

        .home-banner-image-profile-container {
          overflow: hidden;
          width: 200px;
          height: 200px;
          border: 6px solid rgba(89, 89, 82, 0.32);
          border-radius: 200px;
        }

        .home-banner-title {
          font-size: 48px;
          margin: 20px 0 20px;
          text-align: center;
        }

        .home-banner-subtitle {
          font-size: 28px;
          margin: 10px 0 20px;
          font-weight: bold;
          text-align: center;
        }

        .home-banner-content {
          font-size: 18px;
          text-align: center;
        }


        .home-banner-logos {
          display: flex;
          align-items: stretch;
          margin-top: 20px;
          .home-banner-logo {
            height: 45px;
            margin: 5px;
            background: white;
            padding: 4px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              height: 100%;
            }
          }
        }
      }
    }

    .home-content-container {
      margin-top: -50px;

      position: relative;
      z-index: 2;
      .home-content {
        background: white;
        padding: 30px 30px;
        margin: 0 auto;
        width: 100%;
        border-radius: 2px;
      }
    }

    .home-portfolio-container {
      .home-portfolio {
        .home-portfolio-title {
          font-family: 'Inconsolata';
          font-size: 32px;
          font-weight: bold;
          text-transform: uppercase;
        }
        .home-portfolio-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
          .home-portfolio-item {
            height: 350px;
            flex-basis: 49%;
            margin-bottom: 30px;
            border:6px solid #e4e4e4;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            position: relative;
            cursor: pointer;
            transition: 0.2s ease all;
            .home-portfolio-item-information {
              opacity: 0;
              transition: 0.5s ease all;
              position: relative;
              z-index: 2;
              color: white;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              .home-portfolio-item-information-title {
                margin-bottom: 10px;
                font-family: 'Inconsolata';
                font-weight: bold;
                font-size: 28px;
                .home-portfolio-item-information-link {
                  text-decoration: none;
                  color: white;
                }
              }

              .home-portfolio-item-information-description {
                margin-bottom: 10px;
              }

              .home-portfolio-item-information-stack-items {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .home-portfolio-item-information-stack-item {
                  text-align: center;
                  padding: 5px 10px;
                  margin-top: 10px;
                  margin-right: 10px;
                  background: rgba(0, 0, 0, 0.719);
                  color: white;
                  border-radius: 2px;
                  text-transform: uppercase;
                }
              }
            }

            &:before {
              content: '';
              background: linear-gradient(
                0deg,
                #151518,
                hsla(0, 0%, 16%, 0.829)
              );
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 1;
              opacity: 0;
              transition: 0.5s ease all;
            }

            &:hover {
              //border-width: 10px;
              &:before {
                opacity: 1;
              }
              .home-portfolio-item-information {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .home-about-me-container {
      margin-top: 30px;
      .home-about-me {
        .home-about-me-title {
          font-family: 'Inconsolata';
          font-size: 32px;
          margin-bottom: 10px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    .home-blog-container {
      margin-top: 60px;
      .home-blog {
        .home-blog-title {
          font-family: 'Inconsolata';
          font-size: 32px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .home-blog-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
          .home-blog-item {
            flex-basis: 48%;
            margin-bottom: 30px;
            cursor: pointer;
            .home-blog-item-thumbnail-container {
              padding-bottom: 56.25%;
              height: 0;
              position: relative;
              overflow: hidden;
              border: 6px solid #e4e4e4;
              .home-blog-item-thumbnail {
                transition: 0.5s ease all;
                background-size: cover;
                background-position: center;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
              }
            }
            .home-blog-item-title {
              margin-top: 10px;
              font-size: 24px;
              text-decoration: none;
              .home-blog-item-link {
                text-decoration: none;
                color: black;
              }
            }

            &:hover {
              .home-blog-item-thumbnail-container {
                .home-blog-item-thumbnail {
                  opacity: 0.8;
                  transform: scale(1.1)
                }
              }
            }
          }
        }
      }
    }

    .home-resume-container {
      margin-top: 30px;
      .home-resume {
        .home-resume-title {
          font-family: 'Inconsolata';
          font-size: 32px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .home-resume-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
          .home-resume-item {
            flex-basis: 100%;
            &:not(:first-child) {
              margin-top: 30px;
            }

            &:not(:last-child) {
              border-bottom: 1px solid #1414181f;
              padding-bottom: 30px;
            }
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-start;
            position: relative;
            transition: 0.2s ease all;
            .home-resume-item-left {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;
              flex-shrink: 0;
              .home-resume-item-company-name {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
              }

              .home-resume-item-company-logo {
                width: 65px;
                max-width: 65px;
              }
            }

            .home-resume-item-right {
              margin-left: 20px;
              .home-resume-item-title {
                font-weight: bold;
                font-size: 18px;
              }
              .home-resume-item-date {
                font-size: 14px;
                color: grey;
              }
              .home-resume-item-description {
                font-size: 16px;
                margin-bottom: 0;
              }

              .home-resume-item-stack-items {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 5px;
                .home-resume-item-stack-item {
                  text-align: center;
                  padding: 5px 10px;
                  margin-top: 5px;
                  margin-right: 10px;
                  background: rgba(0, 0, 0, 0.719);
                  color: white;
                  border-radius: 2px;
                  text-transform: uppercase;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }

    .home-contact-container {
      margin-top: 60px;
      .home-contact {
        .home-contact-title {
          font-family: 'Inconsolata';
          font-size: 32px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
        }

        .home-contact-description {
          font-size: 20px;
          text-align: center;
        }

        .home-contact-links {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          .home-contact-link {
            img {
              height: 50px;
            }
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  body {
    .home {
      .home-portfolio-container {
        .home-portfolio {
          .home-portfolio-items {
            .home-portfolio-item {
              border-width: 5px;
              flex-basis: 100%;
              height: 450px;
              &:before {
                opacity: 0.9;
              }
              .home-portfolio-item-information {
                opacity: 1;
              }
            }
          }
        }
      }

      .home-blog-container {
        .home-blog {
          .home-blog-items {
            .home-blog-item {
              flex-basis: 100%;
            }
          }
        }
      }
    }
  }
}