body {
  .home {
    .nav-container {
      background: transparent;
      position: absolute;
      width: 100%;

      .logo {
        display: none;
      }
      .menu {
        > a {
          color: white;
        }
      }
    }

    .home-banner-container {
      background-image: url('~assets/img/homepage-background.jpg');
      background-size: cover;
      background-position: center;
      padding-top: 200px;
      padding-bottom: 200px;
      position: relative;
      &:before {
        content: '';
        background: linear-gradient(0deg, #151518, hsla(0, 0%, 100%, 0));
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
      }

      .home-banner {
        z-index: 2;
        position: relative;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Inconsolata';
        padding-left: 10px;
        padding-right: 10px;

        .home-banner-image-profile-container {
          overflow: hidden;
          opacity: 0.9;
        }

        .home-banner-title {
          font-size: 48px;
          margin: 10px 0 5px;
          text-align: center;
        }

        .home-banner-content {
          font-size: 24px;
          text-align: center;
        }
      }
    }

    .home-content-container {
      margin-top: -50px;

      position: relative;
      z-index: 2;
      .home-content {
        background: white;
        padding: 40px;
        margin: 0 auto;
        width: 100%;
      }
    }

    .home-portfolio-container {
      .home-portfolio {
        .home-portfolio-title {
          font-family: 'Inconsolata';
          font-size: 32px;
        }
        .home-portfolio-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
          .home-portfolio-item {
            height: 400px;
            flex-basis: 48%;
            margin-top: 40px;
            border: 20px solid #151518;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-end;
            position: relative;
            cursor: pointer;
            transition: 0.2s ease all;
            .home-portfolio-item-information {
              opacity: 0;
              transition: 0.5s ease all;
              position: relative;
              z-index: 2;
              color: white;
              padding-left: 10px;
              padding-right: 10px;
              padding-bottom: 10px;
              .home-portfolio-item-information-title {
                margin-bottom: 10px;
                font-family: 'Inconsolata';
                font-weight: bold;
                font-size: 28px;
                .home-portfolio-item-information-link {
                  text-decoration: none;
                  color: white;
                }
              }

              .home-portfolio-item-information-description {
                margin-bottom: 10px;
              }

              .home-portfolio-item-information-stack-items {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .home-portfolio-item-information-stack-item {
                  flex-basis: 24%;
                  text-align: center;
                  padding: 5px;
                  margin-top: 10px;
                  background: rgba(0, 0, 0, 0.719);
                  color: white;
                  border-radius: 2px;
                  text-transform: uppercase;
                }
              }
            }

            &:before {
              content: '';
              background: linear-gradient(
                0deg,
                #151518,
                hsla(0, 0%, 16%, 0.829)
              );
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 1;
              opacity: 0;
              transition: 0.5s ease all;
            }

            &:hover {
              border-width: 10px;
              &:before {
                opacity: 1;
              }
              .home-portfolio-item-information {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .home-about-me-container {
      margin-top: 30px;
      .home-about-me {
        .home-about-me-title {
          font-family: 'Inconsolata';
          font-size: 32px;
        }
      }
    }

    .home-blog-container {
      margin-top: 30px;
      .home-blog {
        .home-blog-title {
          font-family: 'Inconsolata';
          font-size: 32px;
        }

        .home-blog-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
          .home-blog-item {
            flex-basis: 48%;
            margin-top: 40px;
            cursor: pointer;
            .home-blog-item-thumbnail-container {
              padding-bottom: 56.25%;
              height: 0;
              background-size: cover;
              background-position: center;
            }
            .home-blog-item-title {
              font-weight: bold;
              font-family: 'Inconsolata';
              margin-top: 10px;
              font-size: 24px;
              text-decoration: none;
              .home-blog-item-link {
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }

    .home-resume-container {
      margin-top: 30px;
      .home-resume {
        .home-resume-title {
          font-family: 'Inconsolata';
          font-size: 32px;
        }

        .home-resume-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 20px;
          .home-resume-item {
            flex-basis: 100%;
            &:not(:first-child) {
              margin-top: 30px;
            }
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: flex-start;
            position: relative;
            cursor: pointer;
            transition: 0.2s ease all;
            .home-resume-item-left {
              padding: 10px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;
              width: 150px;
              flex-shrink: 0;
              .home-resume-item-company-name {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
              }

              .home-resume-item-company-logo {
                width: 90px;
                max-width: 90px;
              }
            }

            .home-resume-item-right {
              padding: 10px;
              .home-resume-item-description {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
